{
    "rules": {
        "no-console": "off",
        "eqeqeq": ["error", "always"],
        "semi": ["error", "always"],
        "indent": "warn"
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parser": "@babel/eslint-parser",
    "plugins": ["jest"],
    "globals": {
        "module": true,
        "require": true,
        "process": true,
        "connect": true,
        "csm": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    }
}